
.nav{
   
    margin-left: 800px;
    display:flex;
    grid-gap: 50px;
    
}
.nav a{ 
   margin-top: -30px;
   color: white;
   text-decoration: none;
   
  
   
}
.logo{
    margin-left: 300px;
}

.search{
    margin-top: -25px;
    margin-left: 1300px;
}
.welcome{
    margin-left: 300px;
    margin-top: -200px;
    color: white;
}
.pictures{
   
    @extend.welcome;
    margin-left: 1000px;

}
.log2{
    @extend.welcome;
    margin-top: -90px;
}
.link a{
    margin-top: 100px;
    text-decoration: none;
    @extend.welcome;
    

}
.line{
    
    width: 1400px;
    padding-left: 60px;
    size: 500px;
    color: white
   
}
.line2{
    @extend.line;
    size: 500px;
}
.midle{
    margin-left: 200px;
}
.forseach{
    text-align: center;
}
.grass{
    @extend.welcome;
    margin-top: 0px;
}
.main{
    background-color: rgb(29, 2, 2);
}
.photo img{
    width: 250px;
    
   


}
.photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    padding-left: 300px;
    
}
.card{
    color: orangered;
    text-align: center;
    background-color: black;

}
.icon{
    color: white;
    margin-left: 1100px;
    margin-top: -30px;
    display: flex;
    grid-gap: 25px;
    position: fixed;
}
